<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BlogApp</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/BlogApp.styles.css" asp-append-version="true" />
    <link href="https://fonts.googleapis.com/css2?family=Staatliches&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@300&family=Londrina+Solid&family=Staatliches&display=swap" rel="stylesheet">

</head>

<body>
<nav class="navbar navbar-expand-lg navbar-light bg-white"
>
  <div class="container-sm d-flex justify-content-between"
    style="padding-top : 10px ; padding-bottom : 10px ;border-bottom: 1px solid rgba(0, 0, 0, 0.1);max-width:1150px !important;"
  >
    <div class=" d-flex justify-content-between align-items-center " >
        <a class="navbar-brand mt-2 mt-lg-0" href="/Blog">
            <h5
                  style="color: #0063a5; font-weight: 600; font-size: 2rem;letter-spacing: 0.7px;font-family: 'Staatliches', cursive;margin-right: 10px;margin-top: 3px;"
            >
              BLOG APP
            </h5>
        </a>
          @if(User.IsInRole("admin")) {

              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                  <a class="nav-link active" href="/Admin">Admin Panel</a>
                </li>
              
              </ul>
          }
    </div>

    <form id="selectLanguage" asp-controller="Home" asp-action="SetLanguage" method="post" class="form-horizontal" role="form">
    @* <label for="culture">Dil:</label> *@
    <select name="culture" onchange="this.form.submit();">
        <option value="en-US" selected>English (US)</option>
        <option value="tr-TR">Türkçe</option>
    </select>
</form>

    <div
    >
      <ul class="navbar-nav   mb-lg-0 d-flex align-items-center flex-direction-row"
      
      style="flex-direction: row !important;"
      >
        
        @if (User.Identity.IsAuthenticated){

          <li class="nav-item"
              style="border: 2px solid gray;border-radius : 5px ;margin-right: 10px;"
          >
              <a class="nav-link active mr-2" 
                  asp-controller="Blog" asp-action="Create"
              >
                  <i class="fa-sharp fa-solid fa-pencil"></i>
                  Add Story </a>
          </li>
            
            <li class="nav-item"
            style="margin-right: 20px;margin-left: 20px;"
            >
            <a class="nav-link active" 
            asp-controller="Account" asp-action="Profile"
            > 
                <i class="fa-solid fa-user mr-1"></i>
                Profile</a>
            </li>
            
            <li class="nav-item">
            <a class="nav-link active" 
            asp-controller="Account" asp-action="Logout"
            asp-area="" 
            > 
                <i class="fa-solid fa-right-to-bracket mr-1"></i>
                Logout</a>
            </li>

          }
          else {
                    <li class="nav-item "
                        style="margin-right: 20px;"
                    >
                            <a class="nav-link active " asp-area="" asp-controller="Account" asp-action="Login">
                                <i class="fa-solid fa-right-to-bracket mr-2"></i>
                                Login</a>
                        </li>
                        
                        <li class="nav-item ">
                            <a class="nav-link active " asp-area="" asp-controller="Account" asp-action="Register">
                                <i class="fa-sharp fa-solid fa-user mr-2"></i>
                                Register</a>
                        </li>

        }

      </ul>

    </div>
  </div>
</nav>




    <div class="container-sm"
        style="
        margin-top: 45px;
        max-width:1150px !important;
        "
    >
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" ></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" ></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>