@model BlogApp.Models.User 

 <div class="Inclusive_profile_page">

            <div class="profile-top-wrap">

                            <span>
                                Membership Information
                            </span>
                            @if (User.IsInRole("admin"))  {
                            <a href="/Admin/DeleteUser/@Model.Id">Close  Account</a>
                                
                            }
                            else {
                            <a href="/Account/DeleteAccount/@Model.Id">Close  Account</a>
                            }

                        </div>
                        <ul>
                            <li>
                                <span>
                                    FullName
                                </span>
                                <div>
                                   @Model.FullName
                                </div>
                            </li>
                            <li>
                                <span>E-Mail</span>
                                <div>
                                @Model.Email
                                </div>

                            </li>
                            <li>

                                <span> Account Created Date </span>
                                <div>
                                   @Model.CreatedAt
                                </div>
                            </li>

                        </ul>

                        <div class='btns_wrap'>
                            <button class='profileEditBtn'>
                                <a href="/Account/EditProfile">
                                    Edit Profile
                                </a>
                            </button>
                        </div>
                    </div>

<link rel="stylesheet" href="~/css/profile.css">