
<div class="comment-top mt-4">
    <h4>Bir yorum yaz  </h4>
    <div class="comment-bottom">
        <form asp-action="Create" asp-controller="Comment" method="post">
            <input type="hidden" name="BlogId" value="@Model.BlogId" >

            <textarea class="form-control" name="Content" placeholder="Yorum..." required=""></textarea>
            <button type="submit" id="btnComment" class="btn btn-primary submit">Yorum Yap</button>
        </form>
 </div>
