@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@700&display=swap');
.Ratings_title_number {
    font-weight: bold;
    font-family: 'Mukta';
    font-size: 1.2rem;
    width: 580px;
    margin-bottom: 1rem;
    border-bottom: #dadada solid 1px;
    padding-bottom: 15px;
}

.comment_wrap {
    display: flex;
    position: relative;
    height: auto;
    padding-top: 10px;
    margin-bottom: 20px;
    /* border: 2px solid red; */
}

.figureRadio {
    width: 55px;
    height: 55px;
    margin-right: 20px;
    border-radius: 50%;
    margin-top: 10px;
}

.figureRadio img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.comment_w {
    width: 100%;
    height: 100%;
}

.comment_w .sec1 {
    display: flex;
    align-items: center;
    font-family: 'Mukta';
    color: #919191;
    font-size: 0.9rem;
}

.comment_w .sec1 .comment_date {
    margin-right: 3px;
    font-size: 13px;
}

.comment_w .sec1 span {
    margin: 0 5px;
    font-size: 0.9rem;
}

.comment_w .sec2 {
    position: relative;
    width: 500px;
    height: auto;
    border-radius: 11px;
    background-color: #eee;
    margin-top: 7px;
    font-size: 1rem;
    padding: 1.4rem;
    position: relative;
}

.comment_w .sec2 .comment_content {
    width: 100%;
    height: auto;
    font-family: 'Mukta';
    font-size: 12px;
    color: #484848;
    font-family: 'Hind Madurai', sans-serif;
}

.comment_rating_wrap div {
    color: rgba(129, 129, 129, 0.7);
    font-family: sans-serif;
}

.comment_rating_wrap div i {
    font-size: 1.2rem;
    margin-right: 3px;
}

.comment_rating_wrap div.comment_like {
    margin-right: 25px;
}