@model BlogApp.Models.Blog
@{
    ViewData["Title"] = "Create Blog";
}


<div class="row">
    <div class="col-5 offset-4">
        <form  asp-action="Create"
        enctype="multipart/form-data"
        >
        <h4 class="display-6  text-center pb-2  ">Add Story</h4>

            <input type="hidden" >
            <div asp-validation-summary="ModelOnly" class="text-danger small"></div>

            <div class="form-group mb-3">
                <label asp-for="Title" class="form-label">Title
                </label>
                <input asp-for="Title" class="form-control" placeholder="Title" />
                <span asp-validation-for="Title" class="text-danger small"></span>
            </div>

            <div class="form-group mb-3">
                <label asp-for="Content" class="form-label">Content</label>

                <textarea type="text" class="form-control" placeholder="Content"  
                
                style="height: 150px ;resize: none;"
                 asp-for="Content"
              ></textarea>
                <span asp-validation-for="Content" class="text-danger small"></span>
            </div>

      <div class="StoryImageField">
                 <i class="fa-solid fa-upload"></i>
                    <div class="txt">
                   Include a high-quality image in your story to make it more inviting to readers.
                    </div>
                    <input
                        name="image"
                    type="file" asp-for="Image"
                    />
                </div>

            
            <div class="form-group d-grid mb-3">
                <button type="submit" class="btn btn-primary d-block">
                Publish</button>
            </div>
        </form>
    </div>
</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>

<script>
    $(document).ready(function () {
        $('input[type="file"]').change(function (e) {
            var fileName = e.target.files[0].name;
            $('.txt').text(fileName);
        });
    });

</script>


<link rel="stylesheet" href="~/css/blog-create.css">