@model BlogApp.Models.UpdateBlogViewModel

@{
    ViewData["Title"] = "Edit Blog";
}

<div class="row">
    <div class="col-5 offset-4">
        <form  asp-action="Edit"
         enctype="multipart/form-data"
        >
            <h1 class="text-center mb-3">Edit Blog</h1>
            <div 
            asp-validation-summary="ModelOnly" class="text-danger small"></div>
            

            <div class="form-group mb-3">
                <label asp-for="Title" class="form-label">Title</label>
                <input asp-for="Title" class="form-control" placeholder="Title" 
                    value="@Model.Title"
                />
                <span asp-validation-for="Title" class="text-danger small"></span>
            </div>

            <div class="form-group mb-3">
                <label asp-for="Content" class="form-label">Content</label>

                <textarea type="text" class="form-control" placeholder="Content"   asp-for="Content"
                style="height: 150px ;resize: none;"
                value="@Model.Content"
                ></textarea>

                <span 
                
                asp-validation-for="Content" class="text-danger small"></span>
            </div>
               
        <div class="profile-ımg-upld-wrapper">

                    <div class="ProfilePhotoField">
                        <i class="fa-solid fa-user"></i>
                        <div class="txt">

                            <div>
                                <i class="fa-solid fa-upload"></i>
                              <span>
                              Change Profile Photo

                              </span>
                            </div>
                         
                        </div>
                          <input type="file" asp-for="Image"
                    value="data:image/png;base64,@Html.Raw(Model.Image)"
                   />
                      
                    </div>


                    <div class="currentImage">
                        <div class="absolute">
                            Currently Image
                        </div>
                          @if (!string.IsNullOrEmpty(Model.Image))
                                {
                                <img src="data:image/png;base64,@Html.Raw(Model.Image)" 
                                alt="userPhoto" 
                                />
                                }
                                else
                                {
                                    <img src="~/images/user.png" alt="userPhoto" 
                                    />
                            }
                    </div>

                </div>


            
            <div class="form-group d-grid mb-3">
                <button type="submit" class="btn btn-primary d-block"><i class="fa-solid fa-right-to-bracket me-2"></i>Edit Blog</button>
            </div>
        </form>
    </div>
</div>

<link rel="stylesheet" href="~/css/edit-profile.css">

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>

<script>
    $(document).ready(function () {
        $('input[type="file"]').change(function (e) {
            var fileName = e.target.files[0].name;
            $('.txt span').text(fileName);
        });
    });

</script>