@{
    ViewData["Title"] = "All Blogs";
}


@model List<BlogApp.Models.Blog>
@* @inject LanguageService language *@

@{
    ViewData["Title"] = "Index";
}


@if(Model.Count == 0)
{
    <h1>There is no blog</h1>
}

<div  class="story-card-wrapper" >
   @foreach (var item in Model) {
      

    <div class="story-card">
            <a
            href="/Blog/Detail/@item.BlogId"
              class="story-link">

      @if (!string.IsNullOrEmpty(item.Image))
            {
              <img src="data:image/png;base64,@Html.Raw(item.Image)" 
              class=" story-image"
              />
            }
            else
            {
                <img src="~/images/default.jpg" alt="imageX" 
                 class=" story-image"
                />
            }
                <div class="story-content-wrapper">

                    <h5 class="story-title">
                        
                   @item.Title
                    </h5>
                    <p 
                    class="story-text"
                    >@item.Content</p>
                    <p class="story-createdAt">@item.CreatedDateTime
                    </p>
                </div>
            </a>
        </div>
   
   
   }

</div>



@* <div class="text-center">

    <h1 class="display-4">@language.Getkey("Login")</h1>

</div>  *@


<link rel="stylesheet" href="~/css/blog-index.css">